* {
  color: white;
}

span {
  color: skyblue;
}

.logo {
  font-weight: 800;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  padding-left: 1.2rem;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

.description-paragraph {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.7;
}
button {
  margin-top: 5%;
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 25%;
  height: 9%;
  cursor: pointer;
}

.hero-container {
  width: 60vw;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}


.resume-div {
  background-color: white;
  width: 28vw;
  height: 80vh;
  overflow-y: scroll;
}

.resume-div > * {
  font-size: 0.8rem;
  color: black;
}


.info-div {
  
  width: 40vw;
  border: 0.3rem solid silver;
  height: 68vh;
  padding: 1rem;
}


.title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.previous-button,.next-button {
  width: 5vw;
}


input {
  color: black;
}