* {
  color: white;
}

span {
  color: skyblue;
}

.logo {
  font-weight: 800;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  padding-left: 1.2rem;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

.description-paragraph {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.7;
}

button {
  margin-top: 5%;
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid white;
  width: 25%;
  height: 9%;
  cursor: pointer;
}

.hero-container {
  width: 60vw;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.current-section-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
}

.intro-form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 2px solid white; */
  justify-content: flex-start;
  gap: 5%;
  padding: 5%;
  padding-top: 10%;
}

.form-element-intro-div {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.form-element-intro-input {
  height: 5vh;
  width: 17vw;
}

label {
  font-weight: 600;
}

.resume-div {
  background-color: white;
  width: 32vw;
  height: 80vh;
  overflow-y: scroll;
}

.resume-div > * {
  font-size: 0.8rem;
  color: black;
}

.info-div {
  overflow-y: auto;
  scrollbar-gutter: stable;
  width: 50vw;
  border: 5px solid whitesmoke;
  height: 70vh;
  padding: 1rem;
  overflow-y: auto;
}

.title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.previous-button,
.next-button {
  width: 5vw;
}

input {
  color: black;
}

textarea {
  color: black;
}

.buttons-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding-right: 5%;
}

.previous-button-div,
.next-button-div {
  width: 5vw;
}

.education-form-container {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid white; */
  padding-top: 1%;
  gap: 6%;
}

.form-element-education-div {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 5%;
  padding-bottom: 5%;
}

.form-element-education-input {
  width: 20vw;
  height: 5vh;
}

.degree-number-title,
.job-number-title,
.project-number-heading {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 2%;
}

.form-element-experience-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7%;
  padding-top: 1%;
  padding-left: 5%;
}

.form-element-div-experience {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-bottom: 3%;
}

.form-element-div-experience > input {
  height: 4.5vh;
}

.bullet-points-container {
  padding-left: 5%;
}

.job-bullet-div {
  padding: 0;
  margin: 0;
  padding-bottom: 1%;
}

.job-bullet-div > input {
  height: 5vh;
  width: 70%;
}

.project-elements-container {
  display: flex;
  flex-wrap: wrap;
  gap: 7%;
}

.form-element-div-project {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 2%;
  padding-bottom: 2%;
}

.form-element-div-project > input {
  height: 5vh;
  width: 20vw;
}

.form-element-div-project > textarea {
  height: 5vh;
  width: 20vw;
  resize: vertical;
}

.project-bullet-div {
  padding-left: 2%;
}

.project-bullet-div > input {
  height: 4.5vh;
  width: 70%;
}

.addProjectBulletButton {
  margin-left: 2%;
}

.bullet-points-container-projects {
  padding: 0;
  margin: 0;
}

.skills-element-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12%;
  gap: 7%;
}

.form-element-div-skills {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}

.form-element-div-skills > textarea {
  width: 20vw;
  height: 9vh;
}

.education-navigation-div {
  display: flex;
  flex-direction: row;
}

.degree-navigation-buttons {
  padding-left: 2%;
}

.job-navigation-buttons {
  padding-left: 2%;
}

.project-buttons {
  padding-left: 2%;
}

.removeJobBullet {
  padding-left: 1%;
}

.addJobBulletButton {
  margin-top: 1%;
  margin-bottom: 1%;
}

.job-bullet-div > input {
  width: 85%;
}

.removeProjectBullet {
  padding-left: 1%;
}

.project-bullet-div {
  margin-bottom: 1%;
}

.project-bullet-div > input {
  width: 90%;
}

.addProjectBulletButton {
  margin-bottom: 1.5%;
}

/* for resume  */

.resume-intro-container * {
  padding: 1%;
  color: black;
  text-align: center;
}

.contact-info {
  font-size: 0.7rem;
  font-weight: 400;
}

.education-container,
.resume-experience-container {
  padding: 1.2%;
}

.education-title,
.experience-title,
.resume-project-title,
.skills-title-resume {
  color: black;
  font-size: 0.7rem;
}

.name {
  font-size: 1.8rem;
}

.education-instance-resume {
  padding: 0.6%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6%;
  font-size: 0.6rem;
}

.education-info-resume {
  color: black;
}

.degree-name-resume {
  font-style: italic;
  font-weight: lighter;
}

.eduation-instance-resume-right,
.experience-instance-resume-right {
  width: 29%;
}

.experience-top-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.experience-bullets-resume {
  font-style: italic;
  color: black;
  font-size: 0.6rem;
}

.experience-instance-resume {
  padding: 1%;
}

.experience-resume-text {
  color: black;
  font-size: 0.6rem;
}

.experience-top-div {
  margin-bottom: 1%;
}

.experience-bullet-list {
  padding-left: 2%;
}

.job-role-resume,
.college-name {
  font-weight: 800;
}

ul,
ol {
  list-style-position: inside;
}

.resume-projects-container {
  padding: 1%;
}

.project-info-text-resume {
  color: black;
  font-style: italic;
  font-size: 0.6rem;
}

.project-li-resume {
  color: black;
  padding-left: 2%;
  font-size: 0.6rem;
}

.project-info-text-resume > span {
  color: black;
  font-weight: 600;
  font-style: normal;
  font-size: 0.6rem;
}

.resume-project-instance {
  padding: 1%;
}

.skills-resume-container {
  padding-left: 1%;
}

.resume-skill-text {
  color: black;
  font-size: 0.6rem;
}

.main-skill-resume-text {
  font-weight: 600;
  font-size: 0.6rem;
  color: black;
}

.resume-skill-instance {
  padding: 0.6%;
}

.project-bullets-container-resume {
  padding-left: 2%;
}

.download-btn {
  top: -8%;
  right: 2%;
  position: absolute;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 5px;
  width: 12rem;
  height: 3rem;
}
